* {
    font-family: "Roboto", sans-serif;
    color: white;
}

#body-sections {
    background-color: black;
}

#body-sections h4 {
    font-weight: 300;
}

#body-sections p {
    font-weight: 100;
}


.about-us {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.favicon {
    background-color: #0dcaf0;
    height: 25px;
}


footer {
    background-color: #0dcaf0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}